<!DOCTYPE html>
<html lang="pl">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gra - Wybierz Kartę</title>
    <link rel="stylesheet" href="{% static 'gamestyle1v1.css' %}">
</head>
<body>
    <header>
        <h1>Gracz 1 VS Gracz 2</h1>
    </header>

    <main>

        <section id="game-container">
            <section id="player1-cards" class="card-section">
                <h2>Gracz 1</h2>
                <p>{{ game.player_hand.count }} kart</p>
                <form method="POST">
                    {% csrf_token %}
                    <div>
                        {% for card in game.player_hand.all %}
                            <label>
                                <input type="radio" name="card_id" value="{{ card.id }}" {% if not is_player_turn %}disabled{% endif %}>
                                <img src="{% if is_player_turn %}{{ card.image.url }}{% else %}{% static 'card_back.jpg' %}{% endif %}" alt="{{ card.marking }} {{ card.color }}" class="card-image">
                            </label>
                        {% endfor %}
                    </div>
                    <button type="submit" name="play_card" value="true" {% if not is_player_turn %}disabled{% endif %}>Zagraj kartę</button>
                    <button type="submit" name="draw_card" value="true" {% if not is_player_turn %}disabled{% endif %}>Dobierz kartę</button>
                    {% if error and is_player_turn %}
                        <p class="error">{{ error }}</p>
                    {% endif %}
                </form>
            </section>
            
            <section id="player2-cards" class="card-section">
                <h2>Gracz 2</h2>
                <p>{{ game.opponent_hand.count }} kart</p>
                <form method="POST">
                    {% csrf_token %}
                    <div>
                        {% for card in game.opponent_hand.all %}
                            <label>
                                <input type="radio" name="card_id" value="{{ card.id }}" {% if is_player_turn %}disabled{% endif %}>
                                <img src="{% if not is_player_turn %}{{ card.image.url }}{% else %}{% static 'card_back.jpg' %}{% endif %}" alt="{{ card.marking }} {{ card.color }}" class="card-image">
                            </label>
                        {% endfor %}
                    </div>
                    <button type="submit" name="play_card" value="true" {% if is_player_turn %}disabled{% endif %}>Zagraj kartę</button>
                    <button type="submit" name="draw_card" value="true" {% if is_player_turn %}disabled{% endif %}>Dobierz kartę</button>
                    {% if error and not is_player_turn %}
                        <p class="error">{{ error }}</p>
                    {% endif %}
                </form>
            </section>
        </section>

        <section id="turn-change" style="text-align: center; margin-top: 20px;">
            <form method="POST">
                {% csrf_token %}
                <button type="submit" name="change_turn" value="true">Zmień turę</button>
            </form>
        </section>

        <section id="last-card">
            <h2>Ostatnia zagrana karta</h2>
            <img src="{{ top_card.image.url }}" alt="Top card" class="card-image">
        </section>

        <section id="game-info">
            <img src="{% static 'card_deck.png' %}" alt="Card deck" class="card-deck" style="width: 10%; height: 10%;">
            <h2>Informacje o grze</h2>
            <p>Liczba kart w talii: {{ game.deck.count }}</p>
        </section>

    </main>
</body>
</html>
